/* Color palette */
$ruby-dark: #CC1D23
$ruby-light: #E98371
$elixir-dark: #652F8B
$elixir-light: #AA90C2
$night: #606b85
$midnight: #3C4A68
$marble: #CFD7DB

/* Flexbox for Equal Height */
.flexbox
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

  -webkit-flex-flow: row wrap
  justify-content: space-around

.align-center
  position: absolute
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)

.main-background
  /* Old browsers */
  background: $ruby-dark
  /* FF3.6-15 */
  background: -moz-linear-gradient(-45deg, $ruby-dark 0%, $elixir-dark 100%)
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(-45deg, $ruby-dark 0%,$elixir-dark 100%)
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(135deg, $ruby-dark 0%,$elixir-dark 100%)
  /* IE6-9 fallback on horizontal gradient */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1d23', endColorstr='#652f8b',GradientType=1 )
  background-attachment: fixed

.font-gradient
  background: -webkit-linear-gradient($ruby-dark,$elixir-dark)
  background-clip: text
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

/* Button */
.btn-small
  +size(200px, 50px)
  display: inline-block
  position: relative
  border-radius: 4px
  background: linear-gradient(to top, $elixir-dark, $ruby-dark)
  overflow: hidden
  transform: translate3d(0, 0, 0)
  transition: all 0.2s ease-out

  &:before
    content: ''
    position: absolute
    top: 2px
    left: 2px
    +size(calc(100% - 4px), calc(100% - 4px))
    border-radius: 2px
    background: #fff
    z-index: -1

  &:after
    content: ''
    display: block
    position: absolute
    top: 0px
    left: 0px
    +size(100%, 100%)
    background: linear-gradient(to top, $elixir-dark, $ruby-dark)
    z-index: -3
    opacity: 0

  &:hover
    transform: translate3d(0, -3px, 0)

  span
    font-family: Lato-bold
    font-size: 18px
    letter-spacing: 1.3px
    text-align: center
    @extend .font-gradient

.btn-medium
  @extend .btn-small
  &:before
    height: calc(100% - 6px)

  span
    font-family: Righteous

.btn-large
  @extend .btn-medium
  +size(240px, 60px)
  &:before
    height: calc(100% - 7px)
  span
    font-size: 20px
    line-height: 60px

body

  a:hover, a:visited, a:link, a:active
    text-decoration: none